<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="curriculum vitae">
    <meta name="author" content="yoangel eizaga">

    <title>Yoangel Eizaga | Desarrollador</title>
    <!-- Favicons -->
    <link href="assets/images/ye.ico" rel="icon">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    </head>
    
    <body>
    <div class="switch-bar" id="switch">
        <i class="fa fa-sun"></i>
        <i class="fa fa-moon"></i>
    </div>

    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <div id="preloader"></div>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="" class="logo"><img src="assets/images/ye.png" alt="logo"></a>
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Inicio</a></li>
                            <li class="scroll-to-section"><a href="#features">Sobre mi</a></li>
                            <li class="scroll-to-section"><a href="#referencias">Referencias</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contacto</a></li> 
                            <li><li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="main-banner" id="top">
        <img src="assets/images/portada-bg.jpg" id="bg-image">

        <div class="image-overlay header-text">
            <div class="caption">
                <h2><em>Y</em>oangel <em>E</em>izaga</h2>
                <p><h3>Soy <em><span class="typed" data-typed-items="Desarrollador web, Fotografo, Diseñador, Musico"></span></em></h3></p>
                <div class="main-button scroll-to-section">
                    <a href="#features">Sobre mi</a>
                </div>
            </div>
        </div>
    </div>
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                 <div class="col-lg-4">
                    <div class="info-item">
                        <div class="image-thumb">
                            <img src="assets/images/perfil.jpg" alt="Yoangel Eizaga">
                        </div>
                        <div class="down-content text-center">
                            <span>T.S.U en Informática</span>
                            <h4>Yoangel J Eizaga C</h4>
                            <ul class="social-icons">
                                <li><a href="https://www.facebook.com/EizagaYC" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
                                <li><a href="https://www.instagram.com/eizagayc/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/EizagaYC/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
                                <li><a href="https://github.com/EizagaYC/" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="section-heading">
                        <h2 class="mb-2">Conoce un poco <em>sobre mi</em></h2>
                        <p class="mb-1">Soy <b>Técnico Informático</b> con más de <b>2 años de experiencia</b> en desarrollo web.</p>
                        <p class="mb-1">Manejo una variedad de tecnologías y herramientas tales como <b>LARAVEL</b> y <b>VUE</b> las cuales ayudan con la creación de aplicaciones <b>web responsive</b>.</p>
                        
                       <p class="mb-1"> Soy una persona carismática con fácil adaptación con cualquier entorno social, aspiro aportar mis habilidades y conocimientos como también aprender de ustedes, poseo buena relación con herramientas de tele-trabajo como "<b>Zoom</b>, <b>Meet</b>, <b>Slack</b> y <b>Github</b>".</p>
                       <p class="mb-1">Me enfoco en mi trabajo si noto que desconozco algo automáticamente lo investigo, buen control y uso del Internet para la solución de problemas, a demás de excelente lógica para la solución de problemas.</p>

                        <ul class="mt-3">
                            <li><p><b>Fecha de nacimiento:</b> 24 de Mayo de 1999</p></li>
                            <li><p><b>Lenguajes hablados:</b> Español(nativo)- Ingles (Intermedio)</p></li>
                            <li><p><b>Nacionalidad:</b> Venezolano</p></li>
                            <li><p><b>Preferencias:</b> Me gusta el diseño gráfico, tomar fotografías, cultivar cactus y disfrutar de una buena taza de café por las mañanas.</p></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="assets/images/autodidacta-icon.png" alt="First One">
                            </div>
                            <div class="right-content">
                                <h4>Autodidacta</h4>
                                <p>Puedo lograr aprender cosas por mi cuenta, ademas de eso me gusta compartir lo aprendido con los demás.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="assets/images/detalles-icon.png" alt="third gym training">
                            </div>
                            <div class="right-content">
                                <h4>Atento a los detalles</h4>
                                <p>Intento que cada cosa este bien detallada y concreta, ademas de estar pendiente del que el código no este desordenado y pueda ser legible.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="assets/images/curiosidad-icon.png" alt="fourth muscle">
                            </div>
                            <div class="right-content">
                                <h4>Curioso</h4>
                                <p>Puedo comprender llegar diversas tecnología, como les dije si desconozco algo lo investigo y practico hasta dominarlo</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="assets/images/innovacion-icon.png" alt="second one">
                            </div>
                            <div class="right-content">
                                <h4>Adaptación al cambio</h4>
                                <p>Tengo la habilidad de adaptarme a los cambios, todo esto ya que la industria de la tecnología es algo que esta en constante avances cosa que no es recomendable quedase siempre en lo mismo.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <blockquote class="blockquote">
  <p class="mb-0"><h2><em>No</em> te averguences por tus <em> fracasos</em>, Aprende de ellos y comienza de nuevo.</h2></p>
  <footer class="blockquote-footer">Richard Branson</footer>
</blockquote>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
    <section class="section" id="habilidades">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Mis <em>Habilidades</em></h2>
                        <img src="assets/images/line-dec.png" alt="">
                        <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed viverra ipsum dolor, ultricies fermentum massa consequat eu.</p>
                    </div>
                </div>
            </div>
            <div class="row" id="tabs">
              <div class="col-lg-4">
                <ul>
                  <li><a href='#tabs-1'><img src="assets/images/tabs-first-icon.png" alt="">First Training Class</a></li>
                  <li><a href='#tabs-2'><img src="assets/images/tabs-first-icon.png" alt="">Second Training Class</a></a></li>
                  <li><a href='#tabs-3'><img src="assets/images/tabs-first-icon.png" alt="">Third Training Class</a></a></li>
                  <li><a href='#tabs-4'><img src="assets/images/tabs-first-icon.png" alt="">Fourth Training Class</a></a></li>
                  <div class="main-rounded-button"><a href="#">View All Schedules</a></div>
                </ul>
              </div>
              <div class="col-lg-8">
                <section class='tabs-content'>
                  <article id='tabs-1'>
                    <img src="assets/images/training-image-01.jpg" alt="First Class">
                    <h4>First Training Class</h4>
                    <p>Phasellus convallis mauris sed elementum vulputate. Donec posuere leo sed dui eleifend hendrerit. Sed suscipit suscipit erat, sed vehicula ligula. Aliquam ut sem fermentum sem tincidunt lacinia gravida aliquam nunc. Morbi quis erat imperdiet, molestie nunc ut, accumsan diam.</p>
                    <div class="main-button">
                        <a href="#">View Schedule</a>
                    </div>
                  </article>
                  <article id='tabs-2'>
                    <img src="assets/images/training-image-02.jpg" alt="Second Training">
                    <h4>Second Training Class</h4>
                    <p>Integer dapibus, est vel dapibus mattis, sem mauris luctus leo, ac pulvinar quam tortor a velit. Praesent ultrices erat ante, in ultricies augue ultricies faucibus. Nam tellus nibh, ullamcorper at mattis non, rhoncus sed massa. Cras quis pulvinar eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <div class="main-button">
                        <a href="#">View Schedule</a>
                    </div>
                  </article>
                  <article id='tabs-3'>
                    <img src="assets/images/training-image-03.jpg" alt="Third Class">
                    <h4>Third Training Class</h4>
                    <p>Fusce laoreet malesuada rhoncus. Donec ultricies diam tortor, id auctor neque posuere sit amet. Aliquam pharetra, augue vel cursus porta, nisi tortor vulputate sapien, id scelerisque felis magna id felis. Proin neque metus, pellentesque pharetra semper vel, accumsan a neque.</p>
                    <div class="main-button">
                        <a href="#">View Schedule</a>
                    </div>
                  </article>
                  <article id='tabs-4'>
                    <img src="assets/images/training-image-04.jpg" alt="Fourth Training">
                    <h4>Fourth Training Class</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ultrices elementum odio ac tempus. Etiam eleifend orci lectus, eget venenatis ipsum commodo et.</p>
                    <div class="main-button">
                        <a href="#">View Schedule</a>
                    </div>
                  </article>
                </section>
              </div>
            </div>
        </div>
    </section>
-->
    <section class="section" id="referencias">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="row">
                        <div class="col-lg-6 d-none d-md-block">
                            <div class="section-heading">
                                <img src="assets/images/referencia-blue-icon.png" id="referencia-icon-blue">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="section-heading">
                                <h2><em>referencias</em></h2>
                                <hr>
                                <p>¡Tienes algo que aportar algo sobre mi! házmelo saber en el formulario de contacto que se encuentra acá abajo, y con gusto lo mostrare en esta sección.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--<div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="assets/images/first-trainer.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Strength Trainer</span>
                            <h4>Bret D. Bowers</h4>
                            <p>Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free vegan church-key pour-over seitan flannel.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </section> 
    <section class="section" id="contact-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                <div class="contact-form">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 mb-2">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31418.15931000721!2d-68.91230128016292!3d10.158701585509634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e80b34a5b2f2585%3A0x9898a3082635499!2sChivacoa%203202%2C%20Yaracuy!5e0!3m2!1ses!2sve!4v1603183743989!5m2!1ses!2sve" frameborder="0" style="border-radius: 5px; width: 100%; height: 100%;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 mb-2">
                        <form id="contact" action="" onclick = "event.preventDefault();">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Tu nombre*" required="" v-model="from_name">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Tu correo electrónico*"  required="" v-model="reply_to">
                              </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                              <fieldset>
                                <select>
                                    <option value="Sin Asunto">Selecciona un asunto*</option>
                                    <option value="Negocios">Negocios</option>
                                    <option value="Asesoría">Asesoría</option>
                                    <option value="Pregunta">Pregunta</option>
                                </select>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="¿Que quieres decirme?*" required="" v-model="message"></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button btn-block" @click="enviar">Enviar</button>
                              </fieldset>
                            </div>
                          </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p><small>&copy; <script> document.write(new Date().getFullYear());</script> | Desarrollado por <b>Yoangel Eizaga</b>.</small></p>
                    
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>


    <!-- Plugins -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    <script src="assets/js/mixitup.js"></script> 
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/custom.js"></script>     
    <script src="assets/js/typed.min.js"></script>   
    
    <!-- Global Init -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdn.emailjs.com/dist/email.min.js" type="text/javascript"></script>
    <script src="assets/js/sendmail.js"></script>   
    <script type="text/javascript">
        const btnSwitch = document.querySelector('#switch');

btnSwitch.addEventListener('click', () => {
    document.body.classList.toggle('dark');
    btnSwitch.classList.toggle('active');

    // Guardamos el modo en localstorage.
    if(document.body.classList.contains('dark')){
        localStorage.setItem('dark-mode', 'true');
    } else {
        localStorage.setItem('dark-mode', 'false');
    }
});

// Obtenemos el modo actual.
if(localStorage.getItem('dark-mode') === 'true'){
    document.body.classList.add('dark');
    btnSwitch.classList.add('active');
} else {
    document.body.classList.remove('dark');
    btnSwitch.classList.remove('active');
}


// portada typed
  if ($('.typed').length) {
    var typed_strings = $(".typed").data('typed-items');
    typed_strings = typed_strings.split(',')
    new Typed('.typed', {
      strings: typed_strings,
      loop: true,
      typeSpeed: 100,
      backSpeed: 50,
      backDelay: 2000
    });
  }
    </script>

  </body>
</html>