<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="curriculum vitae">
    <meta name="author" content="yoangel eizaga">

    <title>Yoangel Eizaga | Desarrollador</title>
    <!-- Favicons -->
    <link href="assets/images/ye.ico" rel="icon">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel='stylesheet' href='assets/unitegallery/css/unite-gallery.css' type='text/css' />

    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    </head>
    
    <body>
    <div class="switch-bar" id="switch">
        <i class="fa fa-sun"></i>
        <i class="fa fa-moon"></i>
    </div>
    <div class="print-cv" id="print-cv">
        <a href="assets/docs/curriculum-V2.pdf" target="_blank"><i class="fa fa-print"></i></a> 
    </div>


    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <div id="preloader"></div>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="https://eizagayc.github.io/VITAe/" class="logo"><img src="assets/images/logo-dark.png" alt="logo" ></a>
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Inicio</a></li>
                            <li class="scroll-to-section"><a href="#features">Sobre mi</a></li>
                            <li class="scroll-to-section"><a href="#habilidades">Habilidades</a></li>
                            <li class="scroll-to-section"><a href="#galeria">Galeria</a></li>
                            <li class="scroll-to-section"><a href="#referencias">Referencias</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contacto</a></li> 
                            <li><li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="main-banner" id="top">
        <img src="assets/images/portada-bg.jpg" id="bg-image">

        <div class="image-overlay header-text">
            <div class="caption">
                <h2><em>Y</em>oangel <em>E</em>izaga</h2>
                <p><h3>Soy <em><span class="typed" data-typed-items="Programador, Fotografo, Illustrador"></span></em></h3></p>
                <div class="main-button scroll-to-section">
                    <a href="#features">Sobre mi</a>
                </div>
            </div>
        </div>
    </div>
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                 <div class="col-lg-4 col-md-4">
                    <div class="info-item">
                        <div class="image-thumb">
                            <img src="assets/images/perfil.jpg" alt="Yoangel Eizaga">
                        </div>
                        <div class="down-content text-center">
                            <span>T.S.U en Informática</span>
                            <h4>Yoangel J Eizaga C</h4>
                            <ul class="social-icons">
                                <li><a href="https://www.facebook.com/EizagaYC" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
                                <li><a href="https://www.instagram.com/eizagayc/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/EizagaYC/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
                                <li><a href="https://github.com/EizagaYC/" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="section-heading">
                        <h2 class="mb-2">Conoce un poco <em>sobre mi</em></h2>
                        <p class="mb-1">Soy <b>Técnico Informático</b> con más de <b>2 años de experiencia</b> en desarrollo web. También me gusta la <b>ilustración</b> y tomar <b>fotografiás</b></p> 
                        <p class="mb-1">Manejo una variedad de tecnologías y herramientas tales como <b>LARAVEL</b> y <b>VUE</b> las cuales ayudan con la creación de aplicaciones <b>web responsive</b>.</p>
                        
                       <p class="mb-1"> Soy una persona carismática con fácil adaptación con cualquier entorno social, aspiro aportar mis habilidades y conocimientos como también aprender de ustedes, poseo buena relación con herramientas de tele-trabajo como "<b>Zoom</b>, <b>Meet</b>, <b>Slack</b> y <b>Github</b>".</p>
                       <p class="mb-1">Me enfoco en mi trabajo si noto que desconozco algo automáticamente lo investigo, buen control y uso del Internet para la solución de problemas, a demás de excelente lógica para la solución de problemas.</p>

                        <ul class="mt-3">
                            <li><p><b>Fecha de nacimiento:</b> 24 de Mayo de 1999</p></li>
                            <li><p><b>Lenguajes hablados:</b> Español(nativo)- Ingles (Intermedio)</p></li>
                            <li><p><b>Nacionalidad:</b> Venezolano</p></li>
                            <li><p><b>Preferencias:</b> Me gusta el diseño gráfico, tomar fotografías, cultivar cactus y disfrutar de una buena taza de café por las mañanas.</p></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="assets/images/autodidacta-icon.png" alt="First One">
                            </div>
                            <div class="right-content">
                                <h4>Autodidacta</h4>
                                <p>Puedo lograr aprender cosas por mi cuenta, ademas de eso me gusta compartir lo aprendido con los demás.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="assets/images/detalles-icon.png" alt="third gym training">
                            </div>
                            <div class="right-content">
                                <h4>Atento a los detalles</h4>
                                <p>Intento que cada cosa este bien detallada y concreta, ademas de estar pendiente del que el código no este desordenado y pueda ser legible.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="assets/images/curiosidad-icon.png" alt="fourth muscle">
                            </div>
                            <div class="right-content">
                                <h4>Curioso</h4>
                                <p>Puedo comprender llegar diversas tecnología, como les dije si desconozco algo lo investigo y practico hasta dominarlo</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="assets/images/innovacion-icon.png" alt="second one">
                            </div>
                            <div class="right-content">
                                <h4>Adaptación al cambio</h4>
                                <p>Tengo la habilidad de adaptarme a los cambios, todo esto ya que la industria de la tecnología es algo que esta en constante avances cosa que no es recomendable quedase siempre en lo mismo.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <blockquote class="blockquote">
                            <p class="mb-0"><h2><em>No</em> te averguences por tus <em> fracasos</em>, Aprende de ellos y comienza de nuevo.</h2></p>
                            <footer class="blockquote-footer">Richard Branson</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="habilidades">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2 class="text-center"><em>Habilidades</em> / <em>certificaciones</em></h2></p>
                        </hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="skills section-bg px-5">
                        <div class="row skills-content">
                            <div class="col-lg-6">
                                <div class="progress">
                                    <span class="skill">HTML | CSS <i class="val">90%</i></span>
                                    <div class="progress-bar-wrap ">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="progress">
                                    <span class="skill">JAVASCRIPT | JQUERY | VUE<i class="val">75%</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="progress">
                                    <span class="skill">PHP | LARAVEL <i class="val">85%</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="progress">
                                    <span class="skill">Photoshop<i class="val">60%</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="progress">
                                    <span class="skill">MySQL <i class="val">70%</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="progress">
                                    <span class="skill">GIT<i class="val">55%</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="progress">
                                    <span class="skill">Wordpress<i class="val">65%</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="progress">
                                    <span class="skill">Illustrator<i class="val">70%</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Skills Section -->
                </div>

                <div class="col-lg-12 mt-5 px-0">
                    <div class=" owl-carousel owl-theme owl-loaded">

                        <div class="mx-2">
                            <div class="card-curso">
                                <img src="assets/images/udemy.jpg" class="image-curso">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <h1><a href="https://www.udemy.com/certificate/UC-2e7564c5-2726-4eb0-b64a-4cca42c07360/" target="_blank"><i class="fas fa-eye"></i> </a></h1>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <h5 class="card-title">Aprende Javascript ES9, HTML, CSS3 y NodeJS desde cero</h5>
                                    <p class="card-text">ID credencial:UC-2e7564c5-2726-4eb0-b64a-4cca42c07360</p>
                                    <p class="card-text"><small class="text-muted">Expedición: may. de 2020 - Sin fecha de vencimiento</small></p>
                                </div>
                            </div>
                        </div>

                        <div class="mx-2">
                            <div class="card-curso">
                                <img src="assets/images/kodoti.jpg">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <h1><a href="https://kodoti.com/perfil/yoangel-eizaga-4045/certificados/adfc1bc1-393c-42af-97a4-a336e94844d5" target="_blank"><i class="fas fa-eye"></i> </a></h1>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">INTRODUCCIÓN A GIT</h5>
                                    <p class="card-text">ID de la credencial: adfc1bc1-393c-42af-97a4-a336e94844d5</p>
                                    <p class="card-text"><small class="text-muted">Expedición: jul. de 2020 - Sin fecha de vencimiento</small></p>
                                </div>
                            </div>
                        </div>

                        <div class="mx-2">
                            <div class="card-curso">
                                <img src="assets/images/udemy.jpg">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <h1><a href="https://www.udemy.com/certificate/UC-bd7150a0-fbf7-4951-8452-b9e9bc2e8c05/" target="_blank"><i class="fas fa-eye"></i> </a></h1>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">JavaScript & jQuery - Certification Course for Beginners</h5>
                                    <p class="card-text">ID de la credencial: UC-bd7150a0-fbf7-4951-8452-b9e9bc2e8c05</p>
                                    <p class="card-text"><small class="text-muted">Expedición: feb. de 2020 - Sin fecha de vencimiento</small></p>
                                </div>
                            </div>
                        </div>

                        <div class="mx-2">
                            <div class="card-curso">
                                <img src="assets/images/udemy.jpg">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <h1><a href="https://www.udemy.com/certificate/UC-0c086bb6-7334-4526-a0ef-9434088b3d25/" target="_blank"><i class="fas fa-eye"></i> </a></h1>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Responsive Web Design - Build RWD Websites</h5>
                                    <p class="card-text">ID de la credencial: UC-0c086bb6-7334-4526-a0ef-9434088b3d25</p>
                                    <p class="card-text"><small class="text-muted">Expedición: may. de 2020 - Sin fecha de vencimiento</small></p>
                                </div>
                            </div>
                        </div>

                        <div class="mx-2">
                            <div class="card-curso">
                                <img src="assets/images/platzi.jpg">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <h1><a href="https://platzi.com/@yoangel-eizaga/curso/1220-course/diploma/detalle/" target="_blank"><i class="fas fa-eye"></i> </a></h1>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Curso de Marca Personal</h5>
                                    <p class="card-text">ID de la credencial: 845f4bda-a443-476e-8e66-80b5af2c809f</p>
                                    <p class="card-text"><small class="text-muted">Expedición: jul. de 2020 - Sin fecha de vencimiento</small></p>
                                </div>
                            </div>
                        </div>

                        <div class="mx-2">
                            <div class="card-curso">
                                <img src="assets/images/udemy.jpg">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <h1><a href="//www.udemy.com/certificate/UC-b3137764-bcfb-4c23-9abd-e03158dc889d/" target="_blank"><i class="fas fa-eye"></i> </a></h1>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Get Started With NodeJS : For Beginners 2020</h5>
                                    <p class="card-text">ID de la credencial: UC-b3137764-bcfb-4c23-9abd-e03158dc889d</p>
                                    <p class="card-text"><small class="text-muted">Expedición: Nov. de 2020 - Sin fecha de vencimiento</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="galeria">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2 class="text-center"><em>Galeria</em></h2></p>
                        </hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 px-0">
                    <div id="gallery" style="display:none; width: 100%">
                        <img alt="Recibiendo titulo de TSU en Informatica"
                             src="assets/images/galeria/min/TSU.jpg"
                             data-image="assets/images/galeria/max/TSU.jpg"
                             data-description="Recibiendo titulo de TSU en Informatica"
                             style="display:none">
                        <img alt="Dev 1"
                             src="assets/images/galeria/min/dev-1.png"
                             data-image="assets/images/galeria/max/dev-1.png"
                             data-description="Dev 1"
                             style="display:none">
                        <img alt="Dev 2"
                             src="assets/images/galeria/min/dev-2.png"
                             data-image="assets/images/galeria/max/dev-2.png"
                             data-description="Dev 2"
                             style="display:none">
                        <img alt="Dev 3"
                             src="assets/images/galeria/min/dev-3.png"
                             data-image="assets/images/galeria/max/dev-3.png"
                             data-description="Dev 3"
                             style="display:none">
                        <img alt="Card github"
                             src="assets/images/galeria/min/card-github.png"
                             data-image="assets/images/galeria/max/card-github.png"
                             data-description="Card github"
                             style="display:none">
                        <img alt="Logo Agropecuaria Asuaje C.A"
                             src="assets/images/galeria/min/asuaje.jpg"
                             data-image="assets/images/galeria/max/asuaje.jpg"
                             data-description="Logo Agropecuaria Asuaje C.A"
                             style="display:none">
                        <img alt="Conecta con tu pueblito"
                             src="assets/images/galeria/min/chivayork.png"
                             data-image="assets/images/galeria/max/chivayork.png"
                             data-description="Conecta con tu pueblito"
                             style="display:none">
                        <img alt="Logo YE"
                             src="assets/images/galeria/min/logo-ye.png"
                             data-image="assets/images/galeria/max/logo-ye.png"
                             data-description="Logo YE"
                             style="display:none">
                        <img alt="Illustracion de iglesia de chivacoa"
                             src="assets/images/galeria/min/illustracion-chivacoa.png"
                             data-image="assets/images/galeria/max/illustracion-chivacoa.png"
                             data-description="Illustracion de iglesia de chivacoa"
                             style="display:none">
                        <img alt="Post para inspirar a no derrochar tu tiempo"
                            src="assets/images/galeria/min/aprovech-tu-tiempo.png"
                             data-image="assets/images/galeria/max/aprovech-tu-tiempo.png"
                             data-description="Post para inspirar a no derrochar tu tiempo"
                             style="display:none">
                        <img alt="Logo para un sistema de clases online llamado VISAB"
                             src="assets/images/galeria/min/logo-visab.png"
                             data-image="assets/images/galeria/max/logo-visab.png"
                            data-description="Fotografia de chivacoa"
                            style="display:none">
                        <img alt="Logo para un sistema de clases online llamado VISAB"
                             src="assets/images/galeria/min/chivacoa.jpg"
                             data-image="assets/images/galeria/max/chivacoa.jpg"
                            data-description="Fotografia de chivacoa"
                            style="display:none">

                        <img alt="Ilustracion que realize para memora mi titulo de TSU"
                             src="assets/images/galeria/min/Logro-up.png"
                             data-image="assets/images/galeria/max/Logro-up.png"
                            data-description="Ilustracion que realize para memora mi titulo de TSU"
                            style="display:none">

                        <img alt="Noches en chivacoa"
                             src="assets/images/galeria/min/Night-in-chivacoa.png"
                             data-image="assets/images/galeria/max/Night-in-chivacoa.png"
                            data-description="Noches en chivacoa"
                            style="display:none">
                        <img alt="Conejo bajo la luna ilustracion realizada para mi gran amor"
                             src="assets/images/galeria/min/rabbit-and-moon.png"
                             data-image="assets/images/galeria/max/rabbit-and-moon.png"
                            data-description="Conejo bajo la luna ilustracion realizada para mi gran amor"
                            style="display:none">
                    </div>
                </div>
            </div>

           
        </div>
    </section>

    <section class="section" id="referencias">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="row">
                        <div class="col-lg-6 d-none d-md-block">
                            <div class="section-heading">
                                <img src="assets/images/referencia-blue-icon.png" id="referencia-icon-blue">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="section-heading">
                                <h2><em>referencias</em></h2>
                                <hr>
                                <p>¡Tienes algo que aportar algo sobre mi! házmelo saber en el formulario de contacto que se encuentra acá abajo, y con gusto lo mostrare en esta sección.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                
                <!--<div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="assets/images/first-trainer.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Strength Trainer</span>
                            <h4>Bret D. Bowers</h4>
                            <p>Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free vegan church-key pour-over seitan flannel.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </section> 
    <section class="section" id="contact-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 px-0">
                <div class="contact-form">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31418.15931000721!2d-68.91230128016292!3d10.158701585509634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e80b34a5b2f2585%3A0x9898a3082635499!2sChivacoa%203202%2C%20Yaracuy!5e0!3m2!1ses!2sve!4v1603183743989!5m2!1ses!2sve" frameborder="0" style=" width: 100%; height: 100%;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <form id="contact" action="" onclick = "event.preventDefault();">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Tu nombre*" required="" v-model="from_name">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Tu correo electrónico*"  required="" v-model="reply_to">
                              </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                              <fieldset>
                                <select>
                                    <option value="Sin Asunto">Selecciona un asunto*</option>
                                    <option value="Negocios">Negocios</option>
                                    <option value="Asesoría">Asesoría</option>
                                    <option value="Pregunta">Pregunta</option>
                                </select>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="¿Que quieres decirme?*" required="" v-model="message"></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button btn-block" @click="enviar">Enviar</button>
                              </fieldset>
                            </div>
                          </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p><small>&copy; <script> document.write(new Date().getFullYear());</script> | Desarrollado por <b>Yoangel Eizaga</b>.</small></p>
                    
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>


    <!-- Plugins -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    <script src="assets/js/mixitup.js"></script> 
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/typed.min.js"></script>   
    
    <!-- Global Init -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdn.emailjs.com/dist/email.min.js" type="text/javascript"></script>
    <script src="assets/js/owl.carousel.min.js"></script>

    <script src="assets/unitegallery/js/unitegallery.min.js"></script>
    <script type='text/javascript' src='assets/unitegallery/themes/tiles/ug-theme-tiles.js'></script>

    <script src="assets/js/sendmail.js"></script>  
    <script src="assets/js/custom.js"></script>     
    <script src="assets/js/app.js"></script>
    <script type="text/javascript"> 
            
            var api;
            $(document).ready(function(){
                api = jQuery("#gallery").unitegallery({
                    tiles_type:"nested"
                });
            });
        
    </script> 

  </body>
</html>